<div class="text-center">
    <h1 class="display-4">Welcome student, to get your id enter data.</h1>

</div>
<div class="row offset-5">
    <form method="post" action="~/Hello/Id">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="data">Date of Birth in format: mm.dd.yyyy</label>
            <input type="text" class="form-control" id="data" name="data">
        </div>
        <div class="form-group">
            <label for="group">Group number (only number: 1,2,3)</label>
            <input type="text" class="form-control" id="group" name="group">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>